#content

  #trademark-introduction
    = image_tag "ufpe/logo.png", size: "300x106"
    .headline
      = t(".headline")
    = link_to t('.register.title'), register_path, class: "btn btn-danger btn-large"

  - if current_site.local_auth_enabled? || current_site.ldap_enabled?
    #login-box.form-area
      %h2= t('.login.title')
      = render :partial => 'sessions/login_form'
      .action-links
        %ul
          - if current_site.shib_enabled?
            %li= link_to t('.login.federation'), shibboleth_path, :class => 'shibboleth_login'
          %li= link_to t('.login.lost_password'), new_user_password_path
          - unless current_site.external_help.blank?
            %li= link_to t('.links.help'), current_site.external_help
          %li
            = render :partial => "shared/language_links"
