#footer-wrapper
  #footer
    #footer-logo
      = link_to "http://www.ufpe.br", :class => 'title' do
        = image_tag "ufpe/footer-logo.png", size: "181x94"
    #footer-copyright
      %span= "Av. Prof. Moraes Rego, 1235 | Cidade Universitária | Recife"
      %span= "PE | CEP: 50670-901 | Fone PABX: 81 2126 8000 | institutofuturo@ufpe.br"
    .mconf
      = link_to "http://mconf.org" do
        = image_tag "ufpe/Mconf_IconBalloon.png", size: "28x28", title: "Mconf"
    .mconftec
      = link_to "http://mconf.com" do
        = image_tag "ufpe/MconfTec-ico-64x64.png", size: "32x32", title: "Mconf Tecnologia"
